<layout name="Layout/layout2"/>
    <div class="order-right f-r">
        <div class="order-md">
            <div class="md-tit">
                <h3>我的预约</h3>
            </div>
            <ul class="yuyue">
                <li class="current"><a href="#">未预约订单（8）</a></li>
                <li><a href="#">已完成预约（10）</a></li>
                <div style="clear:both;"></div>
            </ul>
            <div class="md-hd">
                <P class="md-p1" style="width:121px;"><input type="checkbox" name="hobby" value=""><span>全选</span></P>
                <p class="md-p2" style="width:160px;">商品图片</p>
                <p class="md-p3" style="width:570px;">商品规格</p>
                <p class="md-p6">操作</p>
            </div>
            <div class="md-info">
                <div class="dai-con">
                    <input class="dxk f-l" type="checkbox" name="hobby">
                    <a href="#" class="f-l"><img src="__PUBLIC__/home/images/in-matong2.gif" /></a>
                    <div class="sp-box f-l">
                        <h3>卫欲无限 新一代双漩冲刷虹吸式连体坐便器 马桶 座便器<br />2163400mm坑距</h3>
                        <div class="sp-if">
                            <p class="sp-pl" style="position:relative;top:-25px;">规格</p>
                            <p class="sp-p2">尺码：400mml坑距<br />颜色：白色</p>
                        </div>
                        <div class="sp-if">
                            <p class="sp-pl">促销</p>
                            <p class="sp-p2"><span style="color:#F34737; margin-right:10px;">满赠</span>指定商品满1件，赠送卫欲无限 座便器配件三件套</p>
                        </div>
                        <div class="sp-if">
                            <p class="sp-pl">送货至</p>
                            <p class="sp-p2">重庆  南岸区（包邮）</p>
                        </div>
                        <div class="sp-if">
                            <p class="sp-pl">价格</p>
                            <p class="sp-p2"><span style="font-size:18px; color:#F34737;">¥588.00</span></p>
                        </div>
                    </div>
                    <ul class="cz-box f-r">
                        <li class="cz-li1"><a href="#">取消预约</a></li>
                        <li class="cz-li2"><a href="#">已联系</a></li>
                        <li class="cz-li3"><a href="#">删除</a></li>
                    </ul>
                    <div style="clear:both;"></div>
                </div>
            </div>

            <!--分页-->
            <div class="paging">
                <div class="pag-left f-l">
                    <a href="#" class="about left-r f-l"><</a>
                    <ul class="left-m f-l">
                        <li><a href="#">1</a></li>
                        <li class="current"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">100</a></li>
                        <div style="clear:both;"></div>
                    </ul>
                    <a href="#" class="about left-l f-l">></a>
                    <div style="clear:both;"></div>
                </div>
                <div class="pag-right f-l">
                    <div class="jump-page f-l">
                        到第<input type="text" />页
                    </div>
                    <button class="f-l">确定</button>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="md-ft">
                <P class="md-p1"><input type="checkbox" name="hobby" value=""><span>全选</span></P>
                <a href="#">删除</a>
                <a href="#">加入收藏夹<span>（此处始终在屏幕下方）</span></a>
                <button>结算</button>
            </div>
        </div>

    </div>
    <div style="clear:both;"></div>
</div>