<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>宅客微购</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css" />
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/zhonglin.js"></script>
    <script src="__PUBLIC__/home/js/jquery.min.js"></script>
    <link rel="shortcut icon" href="/drmall/bitbug_favicon(1).ico"/>
</head>

<body>
<!--top 开始-->
<div class="top">
    <div class="top-con w1200">
        <!--<?php print_r($_SESSION[mname])?>-->



        <if condition="empty($_SESSION[mname]) neq true">
            <p class="t-con-l f-l">您好&nbsp;<span style="color: red;"><a id="myname" href="{:U('Home/Member/mail')}">{:$_SESSION[mname]}</a></span>，欢迎来到宅客微购</p>
            <p class="t-con-l f-l"><a href="{:U('Home/Login/loginOut')}">&nbsp;退出</a></p>
            <else/>
            <p class="t-con-l f-l">您好<span style="color: red;">游客{:mt_rand(600,930)}</span>，欢迎来到宅客微购</p>
            <p class="t-con-l f-l"><a href="{:U('Home/Login/login')}">&nbsp;&nbsp;亲,请登录</a></p>
        </if>
            <p class="t-con-l f-l"><a href="{:U('Home/Login/register')}">&nbsp;免费注册</a></p>




        <ul class="t-con-r f-r">
            <li><a href="../Member/mail.html">我(个人中心)</a></li>
            <li><a href="../MyCart/mycart1.html">我的购物车</a></li>
            <li><a href="../Member/myorder.html">我的订单</a></li>
            <li class="erweima">
                <a href="#">扫描二维码</a>
                <div class="ewm-tu">
                    <a href="#"><img src="__PUBLIC__/home/images/erweima-tu.jpg" /></a>
                </div>
            </li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>

<!--logo search 开始-->
<div class="hd-info1 w1200">
    <div class="logo f-l">
        <h1><a href="index.html" title="中林网站"><img src="__PUBLIC__/home/images/logo.jpg" /></a></h1>
    </div>
    <div class="dianji f-r">
        <div class="btn1">
            <button class="btn1-l"><a href="../Login/register.html" style="color:orange">注册</a></button>
            <button class="btn1-r"><a href="../Login/login.html" style="color:orange;">登录</a></button>
            <div style="clear:both;"></div>
        </div>
        <button class="btn2">商家入口    ></button>
    </div>
    <div class="search f-r">
        <ul class="sp">
            <li class="current" ss-search="sp"><a href="JavaScript:;">商品</a></li>
            <li ss-search="dp"><a href="JavaScript:;">店铺</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div class="srh">
            <div class="ipt f-l">
                <input type="text" placeholder="搜索商品..." ss-search-show="sp" />
                <input type="text" placeholder="搜索店铺..." ss-search-show="dp" style="display:none;" />
            </div>
            <button class="f-r" style="border-radius:5px;font-size:20px;">搜 索</button>
            <div style="clear:both;"></div>
        </div>
        <ul class="sp2">
            <li><a href="#">绿豆</a></li>
            <li><a href="#">大米</a></li>
            <li><a href="#">驱蚊</a></li>
            <li><a href="#">洗面奶</a></li>
            <li><a href="#">格力空调</a></li>
            <li><a href="#">洗发护发</a></li>
            <li><a href="#">葡萄 </a></li>
            <li><a href="#">脉动</a></li>
            <li><a href="#">海鲜水产</a></li>
            <div style="clear:both;"></div>
        </ul>
    </div>

    <div style="clear:both;"></div>
</div>

<!--切换城市-->
<div class="switch-city w1200">
    <a href="#" class="dianji-qh">切换城市</a>
    <span class="dqm">重庆市</span>
    <div class="select-city">
        <div class="sl-city-top">
            <p class="f-l">切换城市</p>
            <a class="close-select-city f-r" href="#">
                <img src="__PUBLIC__/home/images/close-select-city.gif" />
            </a>
        </div>
        <div class="sl-city-con">
            <p>西北</p>
            <dl>
                <dt>重庆市</dt>
                <dd>
                    <a href="#">长寿区</a>
                    <a href="#">巴南区</a>
                    <a href="#">南岸区</a>
                    <a href="#">九龙坡区</a>
                    <a href="#">沙坪坝区</a>
                    <a href="#">北碚</a>
                    <a href="#">江北区</a>
                    <a href="#">渝北区</a>
                    <a href="#">大渡口区</a>
                    <a href="#">渝中区</a>
                    <a href="#">万州</a>
                    <a href="#">武隆</a>
                    <a href="#">晏家</a>
                    <a href="#">长寿湖</a>
                    <a href="#">云集</a>
                    <a href="#">华中</a>
                    <a href="#">林封</a>
                    <a href="#">双龙</a>
                    <a href="#">石回</a>
                    <a href="#">龙凤呈祥</a>
                    <a href="#">朝天门</a>
                    <a href="#">中华</a>
                    <a href="#">玉溪</a>
                    <a href="#">云烟</a>
                    <a href="#">红塔山</a>
                    <a href="#">真龙</a>
                    <a href="#">天子</a>
                    <a href="#">娇子</a>
                </dd>
                <div style="clear:both;"></div>
            </dl>
            <dl>
                <dt>新疆</dt>
                <dd>
                    <a href="#">齐乌鲁木</a>
                    <a href="#">昌吉</a>
                    <a href="#">巴音</a>
                    <a href="#">郭楞</a>
                    <a href="#">伊犁</a>
                    <a href="#">阿克苏</a>
                    <a href="#">喀什</a>
                    <a href="#">哈密</a>
                    <a href="#">克拉玛依</a>
                    <a href="#">博尔塔拉</a>
                    <a href="#">吐鲁番</a>
                    <a href="#">和田</a>
                    <a href="#">石河子</a>
                    <a href="#">克孜勒苏</a>
                    <a href="#">阿拉尔</a>
                    <a href="#">五家渠</a>
                    <a href="#">图木舒克</a>
                    <a href="#">库尔勒</a>
                </dd>
                <div style="clear:both;"></div>
            </dl>
            <dl>
                <dt>甘肃</dt>
                <dd>
                    <a href="#">兰州</a>
                    <a href="#">天水</a>
                    <a href="#">巴音</a>
                    <a href="#">白银</a>
                    <a href="#">庆阳</a>
                    <a href="#">平凉</a>
                    <a href="#">酒泉</a>
                    <a href="#">张掖</a>
                    <a href="#">武威</a>
                    <a href="#">定西</a>
                    <a href="#">金昌</a>
                    <a href="#">陇南</a>
                    <a href="#">临夏</a>
                    <a href="#">嘉峪关</a>
                    <a href="#">甘南</a>
                </dd>
                <div style="clear:both;"></div>
            </dl>
            <dl>
                <dt>宁夏</dt>
                <dd>
                    <a href="#">银川</a>
                    <a href="#">吴忠</a>
                    <a href="#">石嘴山</a>
                    <a href="#">中卫</a>
                    <a href="#">固原</a>
                </dd>
                <div style="clear:both;"></div>
            </dl>
            <dl>
                <dt>青海</dt>
                <dd>
                    <a href="#">西宁</a>
                    <a href="#">海西</a>
                    <a href="#">海北</a>
                    <a href="#">果洛</a>
                    <a href="#">海东</a>
                    <a href="#">黄南</a>
                    <a href="#">玉树</a>
                    <a href="#">海南</a>
                </dd>
                <div style="clear:both;"></div>
            </dl>
        </div>
    </div>
</div>

<!--nav 开始-->

<div class="nav w1200">
    <a href="JavaScript:;" class="sp-kj" kj="">
        商品分类快捷
    </a>
    <div class="kj-show">
        <!--<a href="#"><img src="__PUBLIC__/home/images/kj-tu1.jpg" /></a>-->
        <!--<a href="#"><img src="__PUBLIC__/home/images/kj-tu2.jpg" /></a>-->
        <!--<a href="#"><img src="__PUBLIC__/home/images/kj-tu3.jpg" /></a>-->
    </div>
    <div class="kj-show2 none" kj-sh="">
        <foreach name="cateArr1" item="v1">
            <?php
                    $res2=M('cate')->field('cate_id,cate_name')->where("cate_pid=$v1[cate_id]")->select();
            ?>
            <div class="kj-info1" mg="{$v1['cate_name']}">
                <dl class="kj-dl1">
                    <dt>
                        <a href="#">{$v1['cate_name']}</a>
                    </dt>
                    <dd>
                        <foreach name="res2" item="v2">
                            {$v2[cate_name]}/
                        </foreach>
                    </dd>
                </dl>
                <div class="kj-if-show" mg2="{$v1['cate_name']}">

                    <!--2-->
                    <foreach name="res2" item="v2">
                        <dl>
                            <dt>{$v2[cate_name]}</dt>
                            <dd>
                                <!--3-->
                                <?php
                        $res3=M('cate')->field('cate_id,cate_name')->where("cate_pid=$v2[cate_id]")->select();
                                ?>
                                <foreach name="res3" item="v3">
                                    <a href="#">{$v3[cate_name]}</a>
                                </foreach>
                            </dd>
                            <div style="clear:both;"></div>
                        </dl>
                    </foreach>
                    <!--
                                    <dl style="border-bottom:none;">
                                        <dt>零食/糖果/巧克力</dt>
                                        <dd>
                                            <a href="#">坚果迷线</a>
                                            <a href="#">膨化食品</a>
                                            <a href="#">糖果果冻/巧克力/口香糖</a>
                                            <a href="#">肉类/熟食食品</a>
                                            <a href="#">进口食品</a>
                                        </dd>
                                        <div style="clear:both;"></div>
                                    </dl>
                                    -->
                </div>
            </div>
        </foreach>
    </div>
    <ul>
        <li><a href="shopCostume/cate_id/2">服饰</a></li>
        <li><a href="shopFood/cate_id/3">食品</a></li>
        <li><a href="shopHouse/cate_id/1">家用电器</a></li>
        <li><a href="shopGradeActive.html">积分商城</a></li>
        <li><a href="shopBrand.html">品牌专卖</a></li>
        <li><a href="mallActive.html">商城活动</a></li>
        <li><a href="serchShop.html">热卖专区</a></li>
        <li><a href="#">联系我们</a></li>
        <div style="clear:both;"></div>
    </ul>
    <div style="clear:both;"></div>
</div>

<!--banner 开始-->
<div class="banner-box">
    <div class="banner w1200">
        <ul>
            <li><a href="JavaScript:;"><img src="__PUBLIC__/home/images/banner1.jpg" /></a></li>
            <li><a href="JavaScript:;"><img src="__PUBLIC__/home/images/banner2.jpg" /></a></li>
            <li><a href="JavaScript:;"><img src="__PUBLIC__/home/images/banner3.jpg" /></a></li>
            <li><a href="JavaScript:;"><img src="__PUBLIC__/home/images/banner4.jpg" /></a></li>
            <li><a href="JavaScript:;"><img src="__PUBLIC__/home/images/banner5.jpg" /></a></li>
            <li><a href="JavaScript:;"><img src="__PUBLIC__/home/images/banner6.jpg" /></a></li>
            <div style="clear:both;"></div>
        </ul>
        <a href="JavaScript:;" class="bnr bnr-left" style="opacity:0.2;"><</a>
        <a href="JavaScript:;" class="bnr bnr-right" style="opacity:0.2;">></a>
    </div>
</div>

<div class="index_ms">
    <div class="ms-div1"><p>限时秒杀</p></div>
    <div class="ms-div2"><p>≥总有你想不到的惊喜≥</p></div>
    <div class="ms-div3"><p>当前场次</p></div>
    <div class="ms-div4"><p>≤后结束抢购≤</p></div>
    <div class="ms-div-box">
        <div class="ms-div-h"><span id="hideH"><strong id="RemainH"></strong></span></div>
        <div class="ms-div-k1">:</div>
        <div class="ms-div-m"><span id="hideM"><strong id="RemainM"></strong></span></div>
        <div class="ms-div-k2">:</div>
        <div class="ms-div-s"><span id="hideS"><strong id="RemainS"></strong></span></div>
    </div>
</div>
<div class="ms-goods">
<ul class="ms-ul">
    <a href=""><li class="ms-li">
        <div class="ms-goods-img">
            <img class="ms-img" src="__PUBLIC__/home/images/ms-img1.jpg">
            <div class="goods-data1"><p style="font-size:14px;"><span class="ms-span1">金枕头榴莲</span><span style="color:red;font-size:15px;font-weight:bold;"><br>￥77.5&nbsp;</span><span style="text-decoration:line-through">￥88.5</span></p></div>
        </div>
    </li></a>
    <a href=""><li class="ms-li">
        <div class="ms-goods-img">
            <img class="ms-img" src="__PUBLIC__/home/images/ms-img2.jpg">
            <div class="goods-data1"><p style="font-size:14px;"><span class="ms-span1">西部数据硬盘</span><span style="color:red;font-size:15px;font-weight:bold;"><br>￥77.5&nbsp;</span><span style="text-decoration:line-through">￥88.5</span></p></div>
        </div>
    </li></a>
    <a href=""><li class="ms-li">
        <div class="ms-goods-img">
            <img class="ms-img" src="__PUBLIC__/home/images/ms-img3.jpg">
            <div class="goods-data1"><p style="font-size:14px;"><span class="ms-span1">红富士苹果</span><span style="color:red;font-size:15px;font-weight:bold;"><br>￥77.5&nbsp;</span><span style="text-decoration:line-through">￥88.5</span></p></div>
        </div>
    </li></a>
    <a href=""><li class="ms-li">
        <div class="ms-goods-img">
            <img class="ms-img" src="__PUBLIC__/home/images/ms-img4.jpg">
            <div class="goods-data1"><p style="font-size:14px;"><span class="ms-span1">小熊料理机</span><span style="color:red;font-size:15px;font-weight:bold;"><br>￥77.5&nbsp;</span><span style="text-decoration:line-through">￥88.5</span></p></div>
        </div>
    </li></a>
    <a href=""><li class="ms-li">
        <div class="ms-goods-img">
            <img class="ms-img" src="__PUBLIC__/home/images/ms-img5.jpg">
            <div class="goods-data1"><p style="font-size:14px;"><span class="ms-span1">美的冰箱</span><span style="color:red;font-size:15px;font-weight:bold;"><br>￥77.5&nbsp;</span><span style="text-decoration:line-through">￥88.5</span></p></div>
        </div>
    </li></a>
    <a href=""><li class="ms-li">
        <div class="ms-goods-img">
            <img class="ms-img" src="__PUBLIC__/home/images/ms-img6.jpg">
            <div class="goods-data1" style="width:150px;margin-left:50px;margin-top:-40px;"><p style="font-size:14px;"><span class="ms-span1">吉普战车时尚皮鞋</span><span style="color:red;font-size:15px;font-weight:bold;"><br>即将开始抢购&nbsp;</span><span style="text-decoration:line-through">￥299</span></p></div>
        </div>
    </li></a>
</ul>
</div>
<div class="ms-goods">
    <ul class="ms-ul">
        <a href=""><li class="ms-li">
            <div class="ms-goods-img">
                <img class="ms-img" src="__PUBLIC__/home/images/ms-img7.jpg">
                <div class="goods-data1"><p style="font-size:14px;"><span class="ms-span1">华硕顽石笔记本</span><span style="color:red;font-size:15px;font-weight:bold;"><br>￥77.5&nbsp;</span><span style="text-decoration:line-through">￥88.5</span></p></div>
            </div>
        </li></a>
        <a href=""><li class="ms-li">
            <div class="ms-goods-img">
                <img class="ms-img" src="__PUBLIC__/home/images/ms-img8.jpg">
                <div class="goods-data1"><p style="font-size:14px;"><span class="ms-span1">联想小新700</span><span style="color:red;font-size:15px;font-weight:bold;"><br>￥77.5&nbsp;</span><span style="text-decoration:line-through">￥88.5</span></p></div>
            </div>
        </li></a>
        <a href=""><li class="ms-li">
            <div class="ms-goods-img">
                <img class="ms-img" src="__PUBLIC__/home/images/ms-img9.jpg">
                <div class="goods-data1"><p style="font-size:14px;"><span class="ms-span1">海尔电视</span><span style="color:red;font-size:15px;font-weight:bold;"><br>￥77.5&nbsp;</span><span style="text-decoration:line-through">￥88.5</span></p></div>
            </div>
        </li></a>
        <a href=""><li class="ms-li">
            <div class="ms-goods-img">
                <img class="ms-img" src="__PUBLIC__/home/images/ms-img10.jpg">
                <div class="goods-data1"><p style="font-size:14px;"><span class="ms-span1">富士数码相机</span><span style="color:red;font-size:15px;font-weight:bold;"><br>￥77.5&nbsp;</span><span style="text-decoration:line-through">￥88.5</span></p></div>
            </div>
        </li></a>
        <a href=""><li class="ms-li">
            <div class="ms-goods-img">
                <img class="ms-img" src="__PUBLIC__/home/images/ms-img11.jpg">
                <div class="goods-data1"><p style="font-size:14px;"><span class="ms-span1">华硕飞影M32</span><span style="color:red;font-size:15px;font-weight:bold;"><br>￥77.5&nbsp;</span><span style="text-decoration:line-through">￥88.5</span></p></div>
            </div>
        </li></a>

    </ul>
</div>
<!--热门推荐-->
<div class="hot-recommend w1200">

</div>

<!--广告栏-->

<!--1 在线商城-->
<div class="property w1200 mt20">
    <div class="title1">
        <h3><span style="color:#7DB92D;">1F </span>{$catename1[0][cate_name]}</h3>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
    <div class="prt-con">
        <div class="prt-con-l f-l">
                <a href="#"><div class="img-div1"><img src="__PUBLIC__/home/images/prt-l-tu.gif"/></div></a>
            <div class="prt-l-b">
                <a href="#">别墅</a>
            </div>
        </div>
        <ul class="prt-con-r f-l">

            <foreach name="goodsArr1" item="v01">
            <li>
                <a href="{:U('Goods/goodsdetail',array(gid=>$v01[goods_id]))}" title="{$v01[goods_name]}"><div class="img-div"><img src="__PUBLIC__/home/upload/300/thumb_300_{$v01[goods_pic]}" class="index-img"/></div></a>
                <h3>
                    <span class="sp1">{$v01.goods_nickname}</span>
                    <span class="sp2"></span>

                </h3>
                <a href="#" class="prt-tit" title="{$v01[goods_name]}">{:mb_substr($v01['goods_name'],0,13,'utf8')}</a>
                <p>￥{$v01.goods_saleprice}元</p>
            </li>
                <li>
                    <a href="{:U('Goods/goodsdetail',array(gid=>$v01[goods_id]))}" title="{$v01[goods_name]}"><div class="img-div"><img src="__PUBLIC__/home/upload/300/thumb_300_{$v01[goods_pic]}" class="index-img"/></div></a>
                    <h3>
                        <span class="sp1">{$v01.goods_nickname}</span>
                        <span class="sp2"></span>

                    </h3>
                    <a href="#" class="prt-tit" title="{$v01[goods_name]}">{:mb_substr($v01['goods_name'],0,13,'utf8')}</a>
                    <p>￥{$v01.goods_saleprice}元</p>
                </li>

            </foreach>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>
<!--广告栏 二-->
<!--2 餐饮娱乐-->
<div class="property w1200 mt20">
    <div class="title1">
        <h3><span style="color:#7DB92D;">6F </span>汽车房产</h3>
        <ul>
            <li><a href="#">公寓</a></li>
            <li><a href="#">复式</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
    <div class="prt-con">
        <div class="prt-con-l f-l">
            <div class="prt-l-t">
                <a href="#"><img src="__PUBLIC__/home/images/prt-l-tu.gif" /></a>
            </div>
            <div class="prt-l-b">
                <a href="#">别墅</a>

            </div>
        </div>
        <ul class="prt-con-r f-l">
            <foreach name="goodsArr1" item="v01">
                <li>
                    <a href="{:U('Goods/goodsdetail',array(gid=>$v01[goods_id]))}" title="{$v01[goods_name]}"><div class="img-div"><img src="__PUBLIC__/home/upload/300/thumb_300_{$v01[goods_pic]}" class="index-img"/></div></a>
                    <h3>
                        <span class="sp1">{$v01.goods_nickname}</span>
                        <span class="sp2"></span>

                    </h3>
                    <a href="#" class="prt-tit" title="{$v01[goods_name]}">{:mb_substr($v01['goods_name'],0,13,'utf8')}</a>
                    <p>￥{$v01.goods_saleprice}元</p>
                </li>
                <li>
                    <a href="{:U('Goods/goodsdetail',array(gid=>$v01[goods_id]))}" title="{$v01[goods_name]}"><div class="img-div"><img src="__PUBLIC__/home/upload/300/thumb_300_{$v01[goods_pic]}" class="index-img"/></div></a>
                    <h3>
                        <span class="sp1">{$v01.goods_nickname}</span>
                        <span class="sp2"></span>

                    </h3>
                    <a href="#" class="prt-tit" title="{$v01[goods_name]}">{:mb_substr($v01['goods_name'],0,13,'utf8')}</a>
                    <p>￥{$v01.goods_saleprice}元</p>
                </li>

            </foreach>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>
<!--广告栏 二-->
<!--3 家政服务-->
<div class="property w1200 mt20">
    <div class="title1">
        <h3><span style="color:#7DB92D;">6F </span>汽车房产</h3>
        <ul>
            <li><a href="#">公寓</a></li>
            <li><a href="#">复式</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
    <div class="prt-con">
        <div class="prt-con-l f-l">
            <div class="prt-l-t">
                <a href="#"><img src="__PUBLIC__/home/images/prt-l-tu.gif" /></a>
            </div>
            <div class="prt-l-b">
                <a href="#">别墅</a>
            </div>
        </div>
        <ul class="prt-con-r f-l">
            <foreach name="goodsArr1" item="v01">
                <li>
                    <a href="{:U('Goods/goodsdetail',array(gid=>$v01[goods_id]))}" title="{$v01[goods_name]}"><div class="img-div"><img src="__PUBLIC__/home/upload/300/thumb_300_{$v01[goods_pic]}" class="index-img"/></div></a>
                    <h3>
                        <span class="sp1">{$v01.goods_nickname}</span>
                        <span class="sp2"></span>

                    </h3>
                    <a href="#" class="prt-tit" title="{$v01[goods_name]}">{:mb_substr($v01['goods_name'],0,13,'utf8')}</a>
                    <p>￥{$v01.goods_saleprice}元</p>
                </li>
                <li>
                    <a href="{:U('Goods/goodsdetail',array(gid=>$v01[goods_id]))}" title="{$v01[goods_name]}"><div class="img-div"><img src="__PUBLIC__/home/upload/300/thumb_300_{$v01[goods_pic]}" class="index-img"/></div></a>
                    <h3>
                        <span class="sp1">{$v01.goods_nickname}</span>
                        <span class="sp2"></span>

                    </h3>
                    <a href="#" class="prt-tit" title="{$v01[goods_name]}">{:mb_substr($v01['goods_name'],0,13,'utf8')}</a>
                    <p>￥{$v01.goods_saleprice}元</p>
                </li>

            </foreach>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>
<!--广告栏-->
<div class="advertisement w1200">
    <p style="text-align:center;font-size:15px;color:#000;line-height:74px;">广告栏</p>
</div>

<!--4 美容美发-->
<div class="property w1200 mt20">
    <div class="title1">
        <h3><span style="color:#7DB92D;">6F </span>汽车房产</h3>
        <ul>
            <li><a href="#">公寓</a></li>
            <li><a href="#">复式</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
    <div class="prt-con">
        <div class="prt-con-l f-l">
            <div class="prt-l-t">
                <a href="#"><img src="__PUBLIC__/home/images/prt-l-tu.gif" /></a>
            </div>
            <div class="prt-l-b">
                <a href="#">别墅</a>
            </div>
        </div>
        <ul class="prt-con-r f-l">
            <li>
                <a href="#"><img src="__PUBLIC__/home/images/prt-r-tu1.gif" /></a>
                <h3>
                    <span class="sp1">圣联梦溪小镇</span>
                    <span class="sp2">新站区</span>
                    <div style="clear:both;"></div>
                </h3>
                <a href="#" class="prt-tit">意式墅区美宅 纯正意大利风情 </a>
                <p>5980元/m2</p>
            </li>

            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>

<!--广告栏 二-->
<ul class="advertisement2">
    <li><a href="#"><img src="__PUBLIC__/home/images/lanyuelian.gif" /></a></li>
    <li style="border-right:none;"><a href="#"><img src="__PUBLIC__/home/images/lanyuelian.gif" /></a></li>
    <div style="clear:both;"></div>
</ul>

<!--5 教育培训-->
<div class="property w1200 mt20">
    <div class="title1">
        <h3><span style="color:#7DB92D;">6F </span>汽车房产</h3>
        <ul>
            <li><a href="#">公寓</a></li>
            <li><a href="#">复式</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
    <div class="prt-con">
        <div class="prt-con-l f-l">
            <div class="prt-l-t">
                <a href="#"><img src="__PUBLIC__/home/images/prt-l-tu.gif" /></a>
            </div>
            <div class="prt-l-b">
                <a href="#">别墅</a>
            </div>
        </div>
        <ul class="prt-con-r f-l">
            <li>
                <a href="#"><img src="__PUBLIC__/home/images/prt-r-tu1.gif" /></a>
                <h3>
                    <span class="sp1">圣联梦溪小镇</span>
                    <span class="sp2">新站区</span>
                    <div style="clear:both;"></div>
                </h3>
                <a href="#" class="prt-tit">意式墅区美宅 纯正意大利风情 </a>
                <p>5980元/m2</p>
            </li>

            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>
<!--广告栏-->
<div class="advertisement w1200">
    <p style="text-align:center;font-size:15px;color:#000;line-height:74px;">广告栏</p>
</div>

<!--6 汽车房产-->
<div class="property w1200 mt20">
    <div class="title1">
        <h3><span style="color:#7DB92D;">6F </span>汽车房产</h3>
        <ul>
            <li><a href="#">公寓</a></li>
            <li><a href="#">复式</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
    <div class="prt-con">
        <div class="prt-con-l f-l">
            <div class="prt-l-t">
                <a href="#"><img src="__PUBLIC__/home/images/prt-l-tu.gif" /></a>
            </div>
            <div class="prt-l-b">
                <a href="#">别墅</a>
            </div>
        </div>
        <ul class="prt-con-r f-l">
            <li>
                <a href="#"><img src="__PUBLIC__/home/images/prt-r-tu1.gif" /></a>
                <h3>
                    <span class="sp1">圣联梦溪小镇</span>
                    <span class="sp2">新站区</span>
                    <div style="clear:both;"></div>
                </h3>
                <a href="#" class="prt-tit">意式墅区美宅 纯正意大利风情 </a>
                <p>5980元/m2</p>
            </li>

            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>

<!--广告栏 二-->
<ul class="advertisement2">
    <li><a href="#"><img src="__PUBLIC__/home/images/lanyuelian.gif" /></a></li>
    <li style="border-right:none;"><a href="#"><img src="__PUBLIC__/home/images/lanyuelian.gif" /></a></li>
    <div style="clear:both;"></div>
</ul>

<!--7 家居建材-->
<div class="property w1200 mt20">
    <div class="title1">
        <h3><span style="color:#7DB92D;">6F </span>汽车房产</h3>
        <ul>
            <li><a href="#">公寓</a></li>
            <li><a href="#">复式</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
    <div class="prt-con">
        <div class="prt-con-l f-l">
            <div class="prt-l-t">
                <a href="#"><img src="__PUBLIC__/home/images/prt-l-tu.gif" /></a>
            </div>
            <div class="prt-l-b">
                <a href="#">别墅</a>
            </div>
        </div>
        <ul class="prt-con-r f-l">
            <li>
                <a href="#"><img src="__PUBLIC__/home/images/prt-r-tu1.gif" /></a>
                <h3>
                    <span class="sp1">圣联梦溪小镇</span>
                    <span class="sp2">新站区</span>
                    <div style="clear:both;"></div>
                </h3>
                <a href="#" class="prt-tit">意式墅区美宅 纯正意大利风情 </a>
                <p>5980元/m2</p>
            </li>

            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>
<!--广告栏-->
<div class="advertisement w1200">
    <p style="text-align:center;font-size:15px;color:#000;line-height:74px;">广告栏</p>
</div>

<!--8 二手市场-->
<div class="property w1200 mt20">
    <div class="title1">
        <h3><span style="color:#7DB92D;">6F </span>汽车房产</h3>
        <ul>
            <li><a href="#">公寓</a></li>
            <li><a href="#">复式</a></li>
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
    <div class="prt-con">
        <div class="prt-con-l f-l">
            <div class="prt-l-t">
                <a href="#"><img src="__PUBLIC__/home/images/prt-l-tu.gif" /></a>
            </div>
            <div class="prt-l-b">
                <a href="#">别墅</a>
            </div>
        </div>
        <ul class="prt-con-r f-l">
            <li>
                <a href="#"><img src="__PUBLIC__/home/images/prt-r-tu1.gif" /></a>
                <h3>
                    <span class="sp1">圣联梦溪小镇</span>
                    <span class="sp2">新站区</span>
                    <div style="clear:both;"></div>
                </h3>
                <a href="#" class="prt-tit">意式墅区美宅 纯正意大利风情 </a>
                <p>5980元/m2</p>
            </li>

            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>

<!--广告栏 二-->
<ul class="advertisement2">
    <li><a href="#"><img src="__PUBLIC__/home/images/lanyuelian.gif" /></a></li>
    <li style="border-right:none;"><a href="#"><img src="__PUBLIC__/home/images/lanyuelian.gif" /></a></li>
    <div style="clear:both;"></div>
</ul>

<!--底部服务-->
<div class="ft-service">
    <div class="w1200">
        <div class="sv-con-l2 f-l">
            <dl>
                <dt><a href="#">新手上路</a></dt>
                <dd>
                    <a href="#">购物流程</a>
                    <a href="#">在线支付</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">配送方式</a></dt>
                <dd>
                    <a href="#">货到付款区域</a>
                    <a href="#">配送费标准</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">购物指南</a></dt>
                <dd>
                    <a href="#">常见问题</a>
                    <a href="#">订购流程</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">售后服务</a></dt>
                <dd>
                    <a href="#">售后服务保障</a>
                    <a href="#">退款说明</a>
                    <a href="#">新手选购商品总则</a>
                </dd>
            </dl>
            <dl>
                <dt><a href="#">关于我们</a></dt>
                <dd>
                    <a href="#">投诉与建议</a>
                </dd>
            </dl>
            <div style="clear:both;"></div>
        </div>
        <div class="sv-con-r2 f-r">
            <p class="sv-r-tle">187-8660-5539</p>
            <p>周一至周五9:00-17:30</p>
            <p>（仅收市话费）</p>
            <a href="#" class="zxkf">24小时在线客服</a>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>

<!--底部 版权-->
<div class="footer w1200">
    <p>
        <input type="hidden" id="overtime" value="{$overtime}"/>
        <a href="#">关于我们</a><span>|</span>
        <a href="#">友情链接</a><span>|</span>
        <a href="#">宅客微购社区</a><span>|</span>
        <a href="#">诚征英才</a><span>|</span>
        <a href="#">商家登录</a><span>|</span>
        <a href="#">供应商登录</a><span>|</span>
        <a href="#">热门搜索</a><span>|</span>
        <a href="#">宅客微购新品</a><span>|</span>
        <a href="#">开放平台</a>
    </p>
    <p>
        沪ICP备13044278号<span>|</span>合字B1.B2-20130004<span>|</span>营业执照<span>|</span>互联网药品信息服务资格证<span>|</span>互联网药品交易服务资格证
    </p>
</div>
</body>
<script language="JavaScript">
    var runtimes = 0;
    function GetRTime(){
        // var nMS=24*60*60+60*60+60+1;// 1天 1小时 1分钟 1秒   的秒
        var nMS =$("#overtime").val()*1-runtimes;
        /*console.log(nMS);
        return false;*/
        if (nMS>=0){
            var nD=Math.floor(nMS/(60*60*24))%24;//floor向下取入  //天
            var nH=Math.floor(nMS/(60*60))%24;//小时
            var nM=Math.floor(nMS/(60)) % 60;//分钟
            var nS=Math.floor(nMS) % 60;//秒
            $("#RemainD").html(nD);
            $("#RemainH").html(nH);
            $("#RemainM").html(nM);
            $("#RemainS").html(nS);
            runtimes++;
            if(nD==0){
                //天数0 隐藏天数
                $("#hideD").hide();
                if(nH==0){
                    //数0 隐藏天数
                    $("#hideH").hide();
                    if(nM==0){
                        $("#hideM").hide();
                        if(nS==0){
                            alert("倒计时完毕");
                        }
                    }
                }
            }
            //计时器
            setTimeout(function(){
                GetRTime();
            },1000);
        }
    }
    $(function () {
        GetRTime();
    });
</script>
</html>
