<layout name="Layout/layout"/>
<!--内容开始-->
<div class="integral w1200">
    <div class="integral-left f-l">
        <dl>
            <dt>
                <a href="#"><img src="__PUBLIC__/home/images/data-tu2.gif" /></a>
            </dt>
            <dd>
                <h3>我的积分</h3>
                <p>商城积分：<span>8500</span></p>
                <p>其他积分：<span>695</span></p>
            </dd>

        </dl>
    </div>
    <div class="integral-right f-r">
        <div class="mallACtive-1"><img src="__PUBLIC__/home/images/mallActive/timg (1).gif"></div>
        <div class="int-r-top">
            <p class="p1">排序：<span>优惠力度↓</span></p>
        </div>
        <div class="int-r-con">
            <ul class="int-con-ul2" style="display:block;">
                <li>
                    <div>
                    <a href="{:U('Index/mallActive_1')}"><img src="__PUBLIC__/home/images/mallActive/20170616151705.png" width="260" height="200"/></a>
                    <p>活动主题：<span>限时秒杀</span></p>
                    <p>活动时间：<span>2017-06-16—2017-06-20</span></p>
                    </div>
                </li>
                <li>
                    <a href="#"><img src="__PUBLIC__/home/images/mallActive/756b9679b5c95f853bbd3b9f8fbbe344ed47a8b26634c-gFMupW_fw658.png" width="200" height="200"/></a>
                    <p>活动主题：<span>消费满200送抽奖</span></p>
                    <p>活动时间：<span>2017-06-16—2017-06-20</span></p>
                </li>
                <li>
                    <a href="#"><img src="__PUBLIC__/home/images/mallActive/20170616153837.png" width="260" height="200"/></a>
                    <p>活动主题：<span>最后一波疯抢中</span></p>
                    <p>活动时间：<span>2017-06-16—2017-06-16</span></p>
                </li>
                <li>
                    <a href="#"><img src="__PUBLIC__/home/images/mallActive/b4513a0c02dccde70b84ee11118a3361d2289a3c988e-unsEUS_fw658.png" width="260" height="200"/></a>
                    <p>活动主题：<span>特价卖场最后一天</span></p>
                    <p>活动时间：<span style="color:#808080;">活动已过期</span></p>
                </li>
                <li>
                    <a href="#"><img src="__PUBLIC__/home/images/mallActive/20170616155822.png" width="260" height="200"/></a>
                    <p>活动主题：<span>买多少送多少</span></p>
                    <p>活动时间：<span style="color:#808080;">活动已过期</span></p>
                </li>
                <li>
                    <a href="#"><img src="__PUBLIC__/home/images/mallActive/b4513a0c02dccde70b84ee11118a3361d2289a3c988e-unsEUS_fw658.png" width="260" height="200"/></a>
                    <p>活动主题：<span>特价卖场最后一天</span></p>
                    <p>活动时间：<span style="color:#808080;">活动已过期</span></p>
                </li>
                <li>
                    <a href="#"><img src="__PUBLIC__/home/images/mallActive/b4513a0c02dccde70b84ee11118a3361d2289a3c988e-unsEUS_fw658.png" width="260" height="200"/></a>
                    <p>活动主题：<span>特价卖场最后一天</span></p>
                    <p>活动时间：<span style="color:#808080;">活动已过期</span></p>
                </li>
                <li>
                    <a href="#"><img src="__PUBLIC__/home/images/mallActive/b4513a0c02dccde70b84ee11118a3361d2289a3c988e-unsEUS_fw658.png" width="260" height="200"/></a>
                    <p>活动主题：<span>特价卖场最后一天</span></p>
                    <p>活动时间：<span style="color:#808080;">活动已过期</span></p>
                </li>

            </ul>
            <!--分页-->
        </div>
    </div>
    <div style="clear:both;"></div>
</div>

